@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --background: #1d203d;
  --main: #2c2f53;
  --accent: #708ed2;
  --white: #ebe5e2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: var(--white);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main);
}

.logo {
  margin-left: 20px;
}

.searchbar {
  font-family: "Poppins", sans-serif;
  background-color: var(--main);
  color: var(--white);
  outline: none;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 20px;
  border-color: var(--background);
  border-style: solid;
}

.searchbar::placeholder {
  color: var(--accent);
}

.searchbar:focus {
  background-color: var(--background);
}

/* MAIN */

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 0 50px;
}

img {
  width: 300px;
  height: 450px;
  border-radius: 8px 8px 0 0;
}

.card {
  margin: 20px 0;
  border-radius: 8px;
  background-color: var(--main);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.22);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 10px;
}

.title {
  color: var(--white);
  font-size: 1rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.rating {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--background);
}

.green {
  color: greenyellow;
}

.orange {
  color: orange;
}

.red {
  color: orangered;
}

@media (max-width: 450px) {
  header {
    flex-direction: column;
  }

  .logo {
    font-size: 3rem;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .searchbar {
    margin: 0;
    margin-bottom: 20px;
  }
} ;
