/* Main */

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 0 50px;

  @media (max-width: 320px) {
    grid-template-columns: repeat(auto-fill, 220px);
  }
}
