/* Media Queries */

@media (max-width: 1017px) {
  .modal__img {
    display: none;
  }

  .modal__genre {
    margin-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .header {
    flex-direction: column;

    &__logo {
      margin-left: 0;
      margin-bottom: 10px;
      font-size: 3rem;
    }

    &__searchbar {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .modal__info {
    padding: 0 20px;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .header__logo {
    font-size: 2.5rem;
  }

  .main {
    grid-template-columns: repeat(auto-fill, 220px);
  }

  .card__title {
    font-size: 0.8rem;
  }

  .card__img {
    height: 320px;
  }
}
