@media (max-width: 450px) {
  .header {
    flex-direction: column;

    &__logo {
      font-size: 3rem;
      margin-left: 0;
      margin-bottom: 10px;
    }

    &__searchbar {
      margin: 0;
      margin-bottom: 20px;
    }
  }
} ;
