/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $color-main;

  &__logo {
    margin-left: 20px;
  }

  &__searchbar {
    padding: 10px 20px;
    margin: 20px;
    color: $color-main;
    background-color: $color-white;
    border-color: $color-background;
    border-radius: 20px;
    border-style: solid;
    outline: none;
    font-family: "Poppins", sans-serif;

    &::placeholder {
      color: $color-main;
    }
  }
}

/* Main */

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 0 50px;
}

.card {
  margin: 20px 0;
  background-color: $color-main;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.22);
  cursor: pointer;

  &__img {
    width: 300px;
    height: 450px;
    border-radius: 8px 8px 0 0;
    pointer-events: none;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 10px;
    pointer-events: none;
  }

  &__title {
    width: 100%;
    color: $color-white;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__rating {
    padding: 5px;
    background-color: $color-background;
    border-radius: 5px;
    font-weight: bold;

    &--green {
      color: greenyellow;
    }

    &--orange {
      color: orange;
    }

    &--red {
      color: orangered;
    }
  }
}

/* Modal */

.modal {
  display: flex;
  align-items: center;
  color: $color-white;
  background-color: $color-background;
  border-radius: 8px;

  &__img {
    width: 400px;
    border-radius: 8px 0 0 8px;
  }

  &__info {
    padding: 0 50px;
  }

  &__genre {
    margin-bottom: 60px;
    color: $color-accent;
    font-weight: 500;
  }

  &__desc {
    margin-bottom: 30px;
    max-width: 40ch;
    font-weight: 300;
  }

  &__duration,
  &__release {
    color: $color-accent;
    font-weight: 300;

    & strong {
      font-weight: 500;
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;

    &--active {
      visibility: visible;
      opacity: 1;
    }
  }
}
