/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $color-main;

  &__logo {
    margin-left: 20px;
  }

  &__searchbar {
    padding: 10px 20px;
    margin: 20px;
    color: $color-accent;
    background-color: $color-white;
    border-color: $color-background;
    border-radius: 20px;
    border-style: solid;
    outline: none;
    font-family: "Poppins", sans-serif;

    &::placeholder {
      color: $color-accent;
    }
  }
}

/* Main */

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 0 50px;
}

.card {
  margin: 20px 0;
  background-color: $color-main;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.22);

  &__img {
    width: 100%;
    max-width: 300px;
    max-height: 450px;
    border-radius: 8px 8px 0 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 10px;
  }

  &__title {
    width: 100%;
    color: $color-white;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__rating {
    padding: 5px;
    background-color: $color-background;
    border-radius: 5px;
    font-weight: bold;

    &--green {
      color: greenyellow;
    }

    &--orange {
      color: orange;
    }

    &--red {
      color: orangered;
    }
  }
}
